[submodule "HT"]
	path = HT
	url = https://github.com/Shahbazi-Amir/HT.git
[submodule "Therapy"]
	path = Therapy
	url = https://github.com/Shahbazi-Amir/Therapy.git
[submodule "LeetCode_problem"]
	path = LeetCode_problem
	url = https://github.com/Shahbazi-Amir/LeetCode_problem.git
[submodule "master_404"]
	path = master_404
	url = https://github.com/Shahbazi-Amir/master_404.git
[submodule "py_learning"]
	path = py_learning
	url = https://github.com/Shahbazi-Amir/py_learning.git
